:root {
  --dark-color: #112d4e;
  --dark-gradient: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  --light-gradient: linear-gradient(
    109.6deg,
    rgb(204, 228, 247) 11.2%,
    rgb(237, 246, 250) 100.2%
  );
  --light-color: #f9f7f7;
  --light-blue: #dbe2ef;
  --medium-blue: #376296;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.5s ease;
}

body {
  font-family: sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px 15px;
  border-radius: 13px;
  box-shadow: 0 0 30px #000;
}

.theme-toggler {
  position: absolute;
  top: 20px;
  right: 33px;
  cursor: pointer;
  z-index: 1;
}

.toggler-icon {
  width: 25px;
  height: 25px;
}

.theme-toggler::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  /* transform: translate(-50%, -50%); */
  border-radius: 20%;
  z-index: -1;
}

#display {
  margin: 0 5px;
  height: 150px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
  border-radius: 5px;
  margin-top: 20px;
}

#display::-webkit-scrollbar {
  display: block;
  height: 3px;
}

button {
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 5px;
  margin: 1.5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

button#backspace {
  width: 125px;
}

/* light theme */
.container {
  background: var(--dark-gradient);
}

.calculator {
  background: var(--medium-blue);
}

.calculator #display {
  color: var(--light-color);
}

.calculator button {
  background: var(--light-gradient);
  color: var(--dark-color);
}

.calculator button#clear {
  color: #fc4552;
}

.calculator button.btn-operator {
  color: #f546ef;
}

/* dark theme */
.container.dark {
  background: var(--light-gradient);
}

.calculator.dark {
  background: #bfc2c7;
}

.calculator.dark #display {
  color: var(--dark-color);
}

.calculator.dark button {
  background: var(--dark-gradient);
  color: var(--light-color);
}

.calculator.dark button.btn-operator {
  color: #f546ef;
}

.calculator.dark button#clear {
  color: #fc4552;
}
